
.navbar {
	padding-top: 0.4rem !important;
	padding-bottom: 0.4rem !important;
}

.colonnadx {
	padding: 20px 40px 0px 40px;
}

.ordine {
	cursor: pointer;
	animation: ordineIn 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	opacity: 0;
}

.ordineass {
	cursor: pointer;
	animation: ordineAss 0.3s;
	animation-fill-mode: forwards;
	opacity: 0;
}

.ordineassout {
	cursor: pointer;
	animation: ordineAssOut 0.3s;
	animation-fill-mode: forwards;
	opacity: 1 !important;
}

.dropdown-item:hover {
	background: linear-gradient(to left, #87b1ff 50%, #3459e6 50%) right;
	background-size: 200%;
}

.dropdown-item.active {
	transition: background-position .2s ease-out;
	background-position: left;
}

.keyboard-btn {
	margin: 2px 0px 2px 0px;
}

@keyframes ordineIn {
	0% {transform: rotateY(180deg); opacity: 0; box-shadow: 5px 5px;}
	50% {opacity: 1;}
	100% {transform: rotateY(0deg); opacity: 1;}
}

@keyframes ordineAss {
	0% {transform: rotateX(90deg); opacity: 0;}
	100% {transform: rotateX(0deg); opacity: 1;}
}

@keyframes ordineAssOut {
	0% {transform: scaleY(1) !important;}
	100% {transform: scaleY(0) !important;}
}

.alertev {
	animation: evasoIn 0.5s, fadeIn 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

.btnrip {
	animation: evasoOut 0.5s, fadeIn 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

.divev {
	animation: fadeIn 0.5s;
	animation-fill-mode: forwards;
}

@keyframes evasoIn {
	0% {transform: perspective(800px) rotate3d(1, 0, 0, 180deg);}
	100% {transform: perspective(800px) rotate3d(1, 0, 0, 0deg);}
}
@keyframes evasoOut {
	0% {transform: perspective(800px) rotate3d(1, 0, 0, -180deg);}
	100% {transform: perspective(800px) rotate3d(1, 0, 0, 0deg);}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	50% {opacity: 1;}
}

.toast.show {
	animation: toastIn 0.5s;
	animation-fill-mode: forwards;
}

@keyframes toastIn {
	0% {height: 0px;}
	100% {height: 100%;}
}

.nostart {
	display: none;
}

.tmon {
	padding: 3px;
}

.tmon:hover {
	background: #efefef;
	border-radius: 10px;
	cursor: default;
}

.dropdown-submenu {
	display: none;
}

.dropdown-menu>li:hover>.dropdown-submenu {
	display: block;
	left: 100%;
	top: calc((37px * 3) + 16px);
}

.linkcasse.active {
	background-color: var(--bs-danger) !important;
}

.rigaordine {
	transition: all 0.1s;
	border: 1px #FFF solid;
}
.rigaordine:hover {
	border: 1px #495057 solid;
}
.rigacomanda:hover {
	background: #DDDDDD;
}
.rigainc {
	background: #CCFFCC;
}
.rigainc:hover {
	background: #99FF99;
}
.rigadec {
	background: #FFCCCC;
}
.rigadec:hover {
	background: #FF9999;
}

.form-range::-moz-range-track {
	background: linear-gradient(to left, #dee2e6 50%, #86c8f7 50%) right;
	background-size: 200%;
	background-position-x: var(--percent);
}
.form-range::-webkit-slider-runnable-track {
	background: linear-gradient(to left, #dee2e6 50%, #86c8f7 50%) right;
	background-size: 200%;
	background-position-x: var(--percent);
}

.accordion-body {
	border: 1px var(--bs-border-color) solid;
}
.accordion-header {
	border: 1px var(--bs-border-color) solid;
}