
@keyframes keyboardIn {
	0% {transform: translateX(80%); opacity: 0;}
	100% {transform: translateX(0px); opacity: 1;}
}


.nav-item {
	margin-top: 20px;
}


#confirm-buttons {
	animation: scrollUpBtn 0.4s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

@keyframes scrollUpBtn {
	0% {margin-top: 220px; atransform: rotateX(-180deg);}
	100% {margin-top: 0px; atransform: rotateX(0deg);}
}
