@keyframes keyboardIn {
	0% {transform: translateX(80%); opacity: 0;}
	100% {transform: translateX(0px); opacity: 1;}
}


.nav-item {
	margin-top: 20px;
}


#recap-container {
	position: relative;
	perspective: 1000px;
	height: 350px;
	margin-left: -10px;
	margin-right: -10px;
}


#recap-title {
	position: absolute;
	top: 12px;
	animation: recap-title-anim 0.7s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

@keyframes recap-title-anim {
	0% {letter-spacing: 20px;}
	100% {letter-spacing: 0px;}
}


#recap-table {
	position: absolute;
	background: var(--bs-purple);
	top: 14px;
	left: 115px;
	transform: scale(2);
	animation: recap-table-anim 1.4s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

@keyframes recap-table-anim {
	0% {top: 16px; left: 300px; transform: scale(0.8) rotateY(270deg); }
	5% {left: 300px;}
	50% {top: 18px; left: 160px; transform: scale(3) rotateY(0deg);}
	60% {top: 18px; left: 160px; transform: scale(3);}
	90% {top: 14px; left: 115px;}
	100% {transform: scale(2);}
}


#confirm-buttons {
	position: absolute;
	opacity: 0;
	animation: confirm-buttons-anim 1.4s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

@keyframes confirm-buttons-anim {
	0% {top: 220px; opacity: 0;}
	60% {top: 220px; opacity: 0;}
	100% {top: 90px; opacity: 1;}
}
